header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);

  border-bottom: 2px solid grey;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header a .logo {
  width: 4rem;
  height: 4rem;
}

/*BARS START*/

header .bars {
  width: 3rem;
  height: 3rem;
  background-image: url("./../../../public/bars-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*BARS END*/

/*SOCIAL NETWORKING START*/
.socialNetworks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.socialNetworks li {
  border-bottom: 0;
}

.socialNetworks li a {
  min-width: 1rem;
  min-height: 1rem;
  transition: opacity 0.3s ease;
  display: block;
  margin-right: 1rem;
}

.socialNetworks li a:hover {
  opacity: 0.7;
}

/*SOCIAL NETWORKING END*/

/*NAV START*/
header nav {
  position: absolute;
  top: var(--header-height);
  left: -100%;
  width: 100%;
  height: 12rem;
  background-color: white;

  transition: left 0.3s;
}

header .navOpen {
  left: 0;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  border-bottom: 1px solid grey;
}

header nav ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  color: black;
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  color: gray;
}

/*NAV END*/
@media (min-width: 320px) {
  /* mobile */
  header {
    background-color: red;
  }
}

@media (min-width: 480px) {
  /* mobile */
  header {
    background-color: black;
  }
}

@media (min-width: 576px) {
  /* mobile */
  header {
    background: green;
  }
}

@media (min-width: 768px) {
  /* tablet */
  header {
    background: blue;
  }
}

@media (min-width: 992px) {
  /* tablet */
  header {
    background: orange;
  }
  header .bars {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* dekstop */
  header {
    background: cyan;
  }
}
