.app {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.app li {
  border-bottom: 0;
}
.app li a {
  min-width: 1rem;
  min-height: 1rem;
  transition: opacity 0.3s ease;
  display: block;
  margin-right: 1rem;
}

.app li a:hover {
  opacity: 0.7;
}
